<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PythonScri/src/org/anveshgadde/sql/ClipBoardMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.anveshgadde.sql.ClipBoardMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PythonScri"/>
</launchConfiguration>
